body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
  
.app-container {
    max-width: 600px;
    margin: 0 auto;
}
  